.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.signUpPage1 {
  background: rgba(30, 30, 30, 1);
  width: 1440px;
  height: 1214px;
  display: block;
  overflow: hidden;
}
.img___4Boae {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img___4Boae > picture > img {
  object-fit: cover;
}
.frame1000004295 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 50px;
  left: 100px;
  flex-direction: column;
}
.frame1000004295 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 21px);
  height: calc(100% + 21px);
}
.frame1000004295 > :global(.__wab_flex-container) > *,
.frame1000004295 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000004295 > :global(.__wab_flex-container) > picture > img,
.frame1000004295
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 21px;
}
.joinAThrivingCommunityOfEngineers {
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  background: none;
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: #ffffff;
  position: relative;
  width: 471px;
}
.text___68OMy {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  background: none;
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #bab5b5;
  position: relative;
}
.logo {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 143px;
  left: 870px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoUbc {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
}
.logoUbc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logoUbc > :global(.__wab_flex-container) > *,
.logoUbc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoUbc > :global(.__wab_flex-container) > picture > img,
.logoUbc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame3670 {
  width: 148px;
  height: 105px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.c {
  position: absolute;
  top: 99.83%;
  left: 56.34%;
  width: 31.33%;
  height: 87.35%;
  transform: scale(1.0005763339196065, 0.9997927855051355)
    rotate(-135.3644205385762deg) skew(-0.6880407328992084deg, 0deg)
    translate(-0.17100000000000648px, 0.1700000000000017px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ivZZ {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.u {
  position: absolute;
  top: 61.43%;
  left: 67.88%;
  width: 33.56%;
  height: 87.35%;
  transform: scale(0.9998739920609996, 1.0004860691875768)
    rotate(135.40519677739474deg) skew(0.7700883837722294deg, 0deg)
    translate(-0.33799999999999386px, -0.27300000000000324px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__y0DG {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.text__ahAiJ {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.logo2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 50px;
  left: 1153px;
  flex-direction: row;
}
.logo2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.logo2 > :global(.__wab_flex-container) > *,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo2 > :global(.__wab_flex-container) > picture > img,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.logoUbc2 {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.c2 {
  position: absolute;
  top: 60px;
  left: 31px;
  width: 28px;
  height: 55px;
  transform: scale(1.0005763339196065, 0.9997927855051355)
    rotate(-135.3644205385762deg) skew(-0.6880407328992084deg, 0deg)
    translate(0.3019999999999996px, -0.0009999999999976694px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jVnE0 {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.u2 {
  position: absolute;
  top: 38px;
  left: 51px;
  width: 30px;
  height: 55px;
  transform: scale(0.9998739920609996, 1.0004860691875768)
    rotate(135.40519677739474deg) skew(0.7700883837722294deg, 0deg)
    translate(-0.20300000000000296px, 0.2359999999999971px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__f4M4W {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.text__oYRdV {
  display: block;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.img__vWkrR {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 416px;
  top: 305px;
}
.img__vWkrR > picture > img {
  object-fit: cover;
}
.frame3664 {
  width: 500px;
  height: 813px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 775px;
  top: 293px;
}
.frame3664 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.frame3664 > :global(.__wab_flex-container) > *,
.frame3664 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3664 > :global(.__wab_flex-container) > picture > img,
.frame3664
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.frame3661 {
  width: 500px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3661 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame3661 > :global(.__wab_flex-container) > *,
.frame3661 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3661 > :global(.__wab_flex-container) > picture > img,
.frame3661
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.frame1000004243 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1000004243 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.frame1000004243 > :global(.__wab_flex-container) > *,
.frame1000004243 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000004243 > :global(.__wab_flex-container) > picture > img,
.frame1000004243
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.label {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  height: auto;
}
.frame484 {
  height: 50px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #7f7f7f;
}
.frame484 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame484 > :global(.__wab_flex-container) > *,
.frame484 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame484 > :global(.__wab_flex-container) > picture > img,
.frame484
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__vxUOd {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.frame3662 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3662 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame3662 > :global(.__wab_flex-container) > *,
.frame3662 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3662 > :global(.__wab_flex-container) > picture > img,
.frame3662
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame3663 {
  width: 500px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3663 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame3663 > :global(.__wab_flex-container) > *,
.frame3663 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3663 > :global(.__wab_flex-container) > picture > img,
.frame3663
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.frame1000004244 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1000004244 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.frame1000004244 > :global(.__wab_flex-container) > *,
.frame1000004244 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000004244 > :global(.__wab_flex-container) > picture > img,
.frame1000004244
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.label2 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
}
.frame485 {
  height: 50px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame485 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame485 > :global(.__wab_flex-container) > *,
.frame485 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame485 > :global(.__wab_flex-container) > picture > img,
.frame485
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__pZPwj {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.dob {
  width: 500px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.dob > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.dob > :global(.__wab_flex-container) > *,
.dob > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dob > :global(.__wab_flex-container) > picture > img,
.dob > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 2px;
}
.frame1000004245 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1000004245 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.frame1000004245 > :global(.__wab_flex-container) > *,
.frame1000004245 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000004245 > :global(.__wab_flex-container) > picture > img,
.frame1000004245
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.label3 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  height: auto;
}
.frame3667 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame3667 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 27px);
  width: calc(100% + 27px);
}
.frame3667 > :global(.__wab_flex-container) > *,
.frame3667 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3667 > :global(.__wab_flex-container) > picture > img,
.frame3667
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 27px;
}
.frame3665 {
  width: 150px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame3665 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame3665 > :global(.__wab_flex-container) > *,
.frame3665 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3665 > :global(.__wab_flex-container) > picture > img,
.frame3665
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__lYjce {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img__cSnvk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img__cSnvk > picture > img {
  object-fit: cover;
}
.frame3666 {
  width: 150px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame3666 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame3666 > :global(.__wab_flex-container) > *,
.frame3666 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3666 > :global(.__wab_flex-container) > picture > img,
.frame3666
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__tZj4B {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img__mWbb6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img__mWbb6 > picture > img {
  object-fit: cover;
}
.frame3668 {
  width: 150px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame3668 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame3668 > :global(.__wab_flex-container) > *,
.frame3668 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3668 > :global(.__wab_flex-container) > picture > img,
.frame3668
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__sOrfz {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img__cotWb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img__cotWb > picture > img {
  object-fit: cover;
}
.gender {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.gender > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.gender > :global(.__wab_flex-container) > *,
.gender > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.gender > :global(.__wab_flex-container) > picture > img,
.gender
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.label4 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  margin-top: calc(0px + 2px) !important;
}
.frame488 {
  width: 500px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame488 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame488 > :global(.__wab_flex-container) > *,
.frame488 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame488 > :global(.__wab_flex-container) > picture > img,
.frame488
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__gBtcT {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img__eh0X1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img__eh0X1 > picture > img {
  object-fit: cover;
}
.occupation {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.occupation > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.occupation > :global(.__wab_flex-container) > *,
.occupation > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.occupation > :global(.__wab_flex-container) > picture > img,
.occupation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.label5 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
}
.frame1000004308 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame1000004308 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame1000004308 > :global(.__wab_flex-container) > *,
.frame1000004308 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000004308 > :global(.__wab_flex-container) > picture > img,
.frame1000004308
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.frame489 {
  width: 500px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame489 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame489 > :global(.__wab_flex-container) > *,
.frame489 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame489 > :global(.__wab_flex-container) > picture > img,
.frame489
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__tp3T {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg);
  width: 24px;
  height: 24px;
  display: block !important;
  transform-origin: top left;
  overflow: hidden;
  left: 24px;
  top: 24px;
}
.img__tp3T > picture > img {
  object-fit: cover;
}
.frame3669 {
  width: 500px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame3669 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame3669 > :global(.__wab_flex-container) > *,
.frame3669 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3669 > :global(.__wab_flex-container) > picture > img,
.frame3669
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame1000004304 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.frame1000004304 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame1000004304 > :global(.__wab_flex-container) > *,
.frame1000004304 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000004304 > :global(.__wab_flex-container) > picture > img,
.frame1000004304
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__wy4Yb {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img__neIlA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 480px;
  height: 2px;
  display: block !important;
  align-self: stretch;
  flex-shrink: 0;
}
.img__neIlA > picture > img {
  object-fit: cover;
}
.text__g1X9J {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img___9POyo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 480px;
  height: 2px;
  display: block !important;
  align-self: stretch;
  flex-shrink: 0;
}
.img___9POyo > picture > img {
  object-fit: cover;
}
.text__jnRmk {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img__mIys {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 480px;
  height: 2px;
  display: block !important;
  align-self: stretch;
  flex-shrink: 0;
}
.img__mIys > picture > img {
  object-fit: cover;
}
.text___1MFhf {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img__qysnW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 480px;
  height: 2px;
  display: block !important;
  align-self: stretch;
  flex-shrink: 0;
}
.img__qysnW > picture > img {
  object-fit: cover;
}
.text__k3Pv7 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.img___4M6YJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 480px;
  height: 2px;
  display: block !important;
  align-self: stretch;
  flex-shrink: 0;
}
.img___4M6YJ > picture > img {
  object-fit: cover;
}
.text__bNsf3 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(126, 126, 126, 1);
  position: relative;
}
.frame3671 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame3671 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.frame3671 > :global(.__wab_flex-container) > *,
.frame3671 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3671 > :global(.__wab_flex-container) > picture > img,
.frame3671
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.checkBox {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.checkBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.checkBox > :global(.__wab_flex-container) > *,
.checkBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkBox > :global(.__wab_flex-container) > picture > img,
.checkBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__qpwm7 {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: #f27312;
  position: relative;
}
.loginButton {
  background: rgba(242, 115, 18, 1);
  filter: drop-shadow(-4px 4px 15px rgba(0, 0, 0, 0.2));
  width: auto;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
}
.loginButton > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.loginButton > :global(.__wab_flex-container) > *,
.loginButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.loginButton > :global(.__wab_flex-container) > picture > img,
.loginButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
