.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.errorPassword {
  background: rgba(30, 30, 30, 1);
  width: 1440px;
  height: 1214px;
  display: block;
  overflow: hidden;
}
.img__eaMir {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__eaMir > picture > img {
  object-fit: cover;
}
.frame3664 {
  width: 500px;
  height: auto;
  display: flex;
  position: absolute;
  top: 341px;
  left: 762px;
  flex-direction: column;
}
.frame3664 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.frame3664 > :global(.__wab_flex-container) > *,
.frame3664 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3664 > :global(.__wab_flex-container) > picture > img,
.frame3664
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.frame3662 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3662 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame3662 > :global(.__wab_flex-container) > *,
.frame3662 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3662 > :global(.__wab_flex-container) > picture > img,
.frame3662
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame3669 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3669 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame3669 > :global(.__wab_flex-container) > *,
.frame3669 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3669 > :global(.__wab_flex-container) > picture > img,
.frame3669
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.label {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  color: #ffffff;
  padding-right: 0px;
}
.frame3750 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3750 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame3750 > :global(.__wab_flex-container) > *,
.frame3750 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3750 > :global(.__wab_flex-container) > picture > img,
.frame3750
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.frame487 {
  width: 500px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame487 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame487 > :global(.__wab_flex-container) > *,
.frame487 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame487 > :global(.__wab_flex-container) > picture > img,
.frame487
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__w088J {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg__hpbm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: red;
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
}
.frame3748 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3748 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3748 > :global(.__wab_flex-container) > *,
.frame3748 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3748 > :global(.__wab_flex-container) > picture > img,
.frame3748
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__oYaEo {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 0, 0, 1);
  position: relative;
}
.frame3670 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3670 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame3670 > :global(.__wab_flex-container) > *,
.frame3670 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3670 > :global(.__wab_flex-container) > picture > img,
.frame3670
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.label2 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  color: #ffffff;
  margin-top: calc(0px + 2px) !important;
}
.frame3739 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3739 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame3739 > :global(.__wab_flex-container) > *,
.frame3739 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3739 > :global(.__wab_flex-container) > picture > img,
.frame3739
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame488 {
  width: 500px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame488 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame488 > :global(.__wab_flex-container) > *,
.frame488 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame488 > :global(.__wab_flex-container) > picture > img,
.frame488
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__p1KxW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 100px;
  height: 10px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__p1KxW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.svg__p1KxW > :global(.__wab_flex-container) > *,
.svg__p1KxW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__p1KxW > :global(.__wab_flex-container) > picture > img,
.svg__p1KxW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.passwordHideAndSee {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__isI8 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #595959;
  transform: translate(-0.08599999999999985px, 0.01100000000000012px);
  width: 18.187px;
  height: 15.995px;
  display: block;
  top: 4px;
  left: 3px;
}
.frame3737 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame3737 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.frame3737 > :global(.__wab_flex-container) > *,
.frame3737 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3737 > :global(.__wab_flex-container) > picture > img,
.frame3737
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.frame489 {
  background: rgba(255, 0, 0, 1);
  width: 64px;
  height: 5px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
}
.frame489 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame489 > :global(.__wab_flex-container) > *,
.frame489 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame489 > :global(.__wab_flex-container) > picture > img,
.frame489
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame491 {
  background: rgba(255, 76, 0, 1);
  width: 64px;
  height: 5px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
}
.frame491 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame491 > :global(.__wab_flex-container) > *,
.frame491 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame491 > :global(.__wab_flex-container) > picture > img,
.frame491
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame490 {
  background: rgba(255, 153, 0, 1);
  width: 64px;
  height: 5px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
}
.frame490 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame490 > :global(.__wab_flex-container) > *,
.frame490 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame490 > :global(.__wab_flex-container) > picture > img,
.frame490
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame492 {
  width: 64px;
  height: 5px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame492 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame492 > :global(.__wab_flex-container) > *,
.frame492 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame492 > :global(.__wab_flex-container) > picture > img,
.frame492
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame493 {
  width: 64px;
  height: 5px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame493 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame493 > :global(.__wab_flex-container) > *,
.frame493 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame493 > :global(.__wab_flex-container) > picture > img,
.frame493
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame494 {
  width: 64px;
  height: 5px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame494 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame494 > :global(.__wab_flex-container) > *,
.frame494 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame494 > :global(.__wab_flex-container) > picture > img,
.frame494
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame3745 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3745 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame3745 > :global(.__wab_flex-container) > *,
.frame3745 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3745 > :global(.__wab_flex-container) > picture > img,
.frame3745
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text___8Y0RK {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(150, 156, 162, 1);
  position: relative;
}
.frame3744 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame3744 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame3744 > :global(.__wab_flex-container) > *,
.frame3744 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3744 > :global(.__wab_flex-container) > picture > img,
.frame3744
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.frame3740 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3740 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3740 > :global(.__wab_flex-container) > *,
.frame3740 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3740 > :global(.__wab_flex-container) > picture > img,
.frame3740
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.svg__imcl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: red;
  width: 15px;
  height: 15px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text__rmM68 {
  display: block;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 0, 0, 1);
  position: relative;
}
.frame3741 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3741 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3741 > :global(.__wab_flex-container) > *,
.frame3741 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3741 > :global(.__wab_flex-container) > picture > img,
.frame3741
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.svg__r8MFq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: red;
  width: 15px;
  height: 15px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text__iEp0W {
  display: block;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 0, 0, 1);
  position: relative;
}
.frame3742 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3742 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3742 > :global(.__wab_flex-container) > *,
.frame3742 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3742 > :global(.__wab_flex-container) > picture > img,
.frame3742
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.svg__gZqfV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #05ff00;
  width: 15px;
  height: 15px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text__abVfB {
  display: block;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(4, 255, 0, 1);
  position: relative;
}
.frame3743 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3743 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3743 > :global(.__wab_flex-container) > *,
.frame3743 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3743 > :global(.__wab_flex-container) > picture > img,
.frame3743
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.svg__twjF9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #05ff00;
  width: 15px;
  height: 15px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text__cmMoY {
  display: block;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(4, 255, 0, 1);
  position: relative;
}
.frame3671 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3671 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame3671 > :global(.__wab_flex-container) > *,
.frame3671 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3671 > :global(.__wab_flex-container) > picture > img,
.frame3671
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.label3 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  color: #ffffff;
}
.frame3746 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3746 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame3746 > :global(.__wab_flex-container) > *,
.frame3746 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3746 > :global(.__wab_flex-container) > picture > img,
.frame3746
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.frame3738 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3738 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame3738 > :global(.__wab_flex-container) > *,
.frame3738 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3738 > :global(.__wab_flex-container) > picture > img,
.frame3738
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.frame495 {
  width: 500px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame495 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame495 > :global(.__wab_flex-container) > *,
.frame495 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame495 > :global(.__wab_flex-container) > picture > img,
.frame495
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__lEwO5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 175px;
  height: 10px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__lEwO5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.svg__lEwO5 > :global(.__wab_flex-container) > *,
.svg__lEwO5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__lEwO5 > :global(.__wab_flex-container) > picture > img,
.svg__lEwO5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.passwordHideAndSee2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__qGKxU {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #595959;
  transform: translate(-0.08599999999999985px, 0.01100000000000012px);
  width: 18.187px;
  height: 15.995px;
  display: block;
  top: 4px;
  left: 3px;
}
.frame3747 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3747 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3747 > :global(.__wab_flex-container) > *,
.frame3747 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3747 > :global(.__wab_flex-container) > picture > img,
.frame3747
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__lMFt1 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 0, 0, 1);
  position: relative;
}
.frame3673 {
  width: 500px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3673 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.frame3673 > :global(.__wab_flex-container) > *,
.frame3673 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3673 > :global(.__wab_flex-container) > picture > img,
.frame3673
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.label4 {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  color: #ffffff;
  margin-top: calc(0px + 2px) !important;
}
.frame3751 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame3751 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame3751 > :global(.__wab_flex-container) > *,
.frame3751 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3751 > :global(.__wab_flex-container) > picture > img,
.frame3751
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.frame3672 {
  height: 50px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
}
.textfield {
  width: 90px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1.5px solid #7f7f7f;
}
.textfield > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.textfield > :global(.__wab_flex-container) > *,
.textfield > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textfield > :global(.__wab_flex-container) > picture > img,
.textfield
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.indiaIn {
  width: 30px;
  height: 23px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 5px;
}
.svg__elqJ0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #f93;
  width: 30px;
  height: 8px;
  display: block;
  top: 0%;
  left: 0%;
}
.svg__qoIu3 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0px, -0.5px);
  width: 30px;
  height: 8px;
  display: block;
  top: 35.55%;
  left: 0%;
}
.svg__senAa {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #128807;
  width: 30px;
  height: 8px;
  display: block;
  top: 66.66%;
  left: 0%;
}
.frame {
  transform: translate(-0.2569999999999997px, -0.12399999999999967px);
  width: 38.4%;
  height: 53.33%;
  display: block;
  position: absolute;
  top: 22.22%;
  left: 33.33%;
  overflow: hidden;
}
.svg__w3Sjq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: translate(0.2559999999999998px, 0.3730000000000002px);
  width: 6px;
  height: 6px;
  display: block;
  top: 25.95%;
  left: 17.35%;
}
.svg__kvc7B {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.3690000000000002px, -0.2519999999999998px);
  width: 6px;
  height: 6px;
  display: block;
  top: 34.61%;
  left: 26.03%;
}
.svg__f48Mk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: translate(-0.26900000000000013px, -0.15200000000000014px);
  width: 2px;
  height: 2px;
  display: block;
  top: 51.91%;
  left: 43.39%;
}
.d {
  transform: translate(0.484px, 0.2699999999999996px);
  width: 8px;
  height: 7px;
  display: block;
  position: absolute;
  top: 4px;
  left: 0px;
}
.c {
  transform: translate(0.484px, -0.13999999999999968px);
  width: 6px;
  height: 5px;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
}
.b {
  transform: translate(-0.47799999999999976px, 0.40500000000000025px);
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__hMtTj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: translate(-0.32399999999999984px, 0.03000000000000025px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  top: 0px;
  left: 1px;
}
.svg__o29At {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9988938882584075, 0.9991521739512451)
    rotate(14.968365505712718deg) skew(-0.0554129279751319deg, 0deg)
    translate(-0.3700000000000001px, 0px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.b2 {
  transform: scale(0.9999779997579946, 0.9999779997579947)
    rotate(30.00072778082736deg) translate(-0.4560000000000004px, 0px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__yHHb1 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: translate(-0.32435027141194084px, 0.03022532991451632px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__txIq9 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9998709860014444, 1.0005781083394933)
    rotate(14.999272219172633deg) skew(-0.04052034650700118deg, 0deg)
    translate(-0.37050230210129165px, 0.00029001276056206393px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.c2 {
  transform: scale(0.9994783639479146, 1.0008440763527418)
    rotate(60.04891735876959deg) skew(0.021049504768743107deg, 0deg)
    translate(-0.1609999999999996px, 0px);
  width: 6px;
  height: 5px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 4px;
}
.b3 {
  transform: skew(3.1805546814635168e-15deg, 0deg)
    translate(-0.4776501966366835px, 0.40329014057473556px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__rRxNz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: skew(3.1805546814635168e-15deg, 0deg)
    translate(-0.3231509453955814px, 0.029697437425148854px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg___0CIx9 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9992325490328194, 0.9991993412343123)
    rotate(14.964593315781945deg) skew(-0.07212455572316166deg, 0deg)
    translate(-0.36982091766450953px, 0.0005298293949349553px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.b4 {
  transform: scale(0.9990220452455004, 0.9996560439279977)
    rotate(29.97981908864771deg) skew(-0.020921961238315225deg, 0deg)
    translate(-0.4566849474469219px, -0.0010216710219306258px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__nxpi9 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: translate(-0.3223223223223215px, 0.029322322322323124px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__uGoUc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9998358915964354, 1.0004354511360267)
    rotate(14.95595228719605deg) skew(-0.06349572522902301deg, 0deg)
    translate(-0.3693693693693696px, -0.0006306306306305132px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.d2 {
  transform: scale(0.9999779997579946, 1.0008440188106233)
    rotate(120.00072778082739deg) skew(0.02864914793151629deg, 0deg)
    translate(0.4640000000000004px, 0.2909999999999999px);
  width: 8px;
  height: 7px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 3px;
  left: 9px;
}
.c3 {
  transform: scale(1.0000000000000002, 1.0004995893375646)
    skew(-0.049634628746630126deg, 0deg)
    translate(0.4844317970628147px, -0.1409641274872051px);
  width: 6px;
  height: 5px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 2px;
  left: 2px;
}
.b5 {
  transform: skew(-3.1805546814635168e-15deg, 0deg)
    translate(-0.47869516499187936px, 0.4040917906527568px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg___7Tj1 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: skew(-3.1805546814635168e-15deg, 0deg)
    translate(-0.3234733682072308px, 0.029684756751573893px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__mXTnT {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(1.0005781662521644, 0.9999192229635893)
    rotate(15.018766127505673deg) skew(0.019481070376436267deg, 0deg)
    translate(-0.3705021960967607px, 0.00028961712615860336px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.b6 {
  transform: scale(1.0001829990420823, 0.9996842343365966)
    rotate(30.037620362033863deg) skew(-0.007731690078639538deg, 0deg)
    translate(-0.4574562428469555px, -0.0003135854400486693px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__kLy4J {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(-0.32373707661590423px, 0.029360090851977105px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__jCynH {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9992660024002644, 0.999524086449349)
    rotate(14.965105769944262deg) skew(-0.00191330507571691deg, 0deg)
    translate(-0.37073319822730744px, -0.001148634273847371px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.c4 {
  transform: scale(0.9991566929563845, 1.0000220007260268)
    rotate(59.999272219172624deg) skew(0.028646626806917406deg, 0deg)
    translate(-0.16124745459232415px, 0.0007194086460931004px);
  width: 6px;
  height: 5px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 4px;
}
.b7 {
  transform: translate(-0.47940499999999986px, 0.40500000000000025px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__cEpi6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: translate(-0.3230290000000009px, 0.028999999999999915px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__jKcc1 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9998683308721203, 1.0001096835698196)
    rotate(15.012757185549699deg) skew(0.005726284052529787deg, 0deg)
    translate(-0.3700000000000001px, 0px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.b8 {
  transform: scale(1.0004110405228444, 1.0007776398356711)
    rotate(29.986409406095056deg) skew(0.020909774349356938deg, 0deg)
    translate(-0.45700000000000074px, 0px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__vQenM {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(1.0000000000000002, 1.0000000000000002)
    translate(-0.324110632458007px, 0.030052267853521553px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg___1MEis {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(1.0002353629897995, 1.0003947947221332)
    rotate(15.038399791764128deg) skew(0.011873310631147474deg, 0deg)
    translate(-0.37154623153071054px, -0.0002616888519555438px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.d3 {
  transform: scale(1.0008441437106979, 0.9999778749660103)
    rotate(-119.97210342267665deg) skew(0.028599582682111303deg, 0deg)
    translate(-0.17799999999999994px, -0.4429999999999996px);
  width: 8px;
  height: 7px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 12px;
  left: 6px;
}
.c5 {
  transform: scale(1, 1.0004995893375646) skew(0.04957738006847226deg, 0deg)
    translate(0.48297099783977515px, -0.14147171025416916px);
  width: 6px;
  height: 5px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 2px;
  left: 2px;
}
.b9 {
  transform: skew(3.1805546814635168e-15deg, 0deg)
    translate(-0.4802790710680469px, 0.4039959173972003px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg___3Ajb0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: skew(3.1805546814635168e-15deg, 0deg)
    translate(-0.324980375943003px, 0.029457057769628037px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__iPhYu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9989591024601201, 0.998991555694916)
    rotate(14.973645952894646deg) skew(-0.04243033705574621deg, 0deg)
    translate(-0.37104647655799106px, -0.0006042012459528401px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.b10 {
  transform: scale(0.998657774180528, 0.9990219787253005)
    rotate(30.000727780827372deg) skew(0.036345567782347536deg, 0deg)
    translate(-0.4587904789867778px, -0.0004563966436383904px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__xf7Dm {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: translate(-0.3240290290290293px, 0.029029029029030262px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__dxqZh {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9996771677401471, 1.000076610746027)
    rotate(14.9716847998566deg) skew(-0.03586481625876783deg, 0deg)
    translate(-0.3700000000000001px, 8.881784197001252e-16px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.c6 {
  transform: scale(0.9999328310560852, 0.9990689269082648)
    rotate(59.93753242917281deg) skew(0.028651641294522544deg, 0deg)
    translate(-0.16456872450845417px, -0.002637831702340554px);
  width: 6px;
  height: 5px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 4px;
}
.b11 {
  transform: scale(0.9999999999999999, 1)
    translate(-0.47925282775051103px, 0.407791179038691px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__lEkSf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9999999999999999, 1)
    translate(-0.32375830522002325px, 0.030664427603686484px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__cZesR {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(1.0003948074610935, 1.000187221654637)
    rotate(15.047543427508995deg) skew(0.00914173840502582deg, 0deg)
    translate(-0.369867466541578px, 0.0006511152473978044px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.b12 {
  transform: scale(1.0000672987133794, 0.9995656655462708)
    rotate(30.09114398745699deg) skew(0.007651754273275136deg, 0deg)
    translate(-0.45752298156773685px, 0.0026604709033506424px);
  width: 4px;
  height: 4px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 2px;
}
.svg__rrT76 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: skew(3.1805546814635168e-15deg, 0deg)
    translate(-0.32384517177344485px, 0.02895775301764303px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.svg__lBjov {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #008;
  transform: scale(0.9994241466492746, 0.9991656059489145)
    rotate(14.980802979370678deg) skew(0.001912258726603265deg, 0deg)
    translate(-0.37050255338904414px, -0.0002901578458676113px);
  width: 2.843px;
  height: 2.432px;
  display: block;
  transform-origin: top left;
  top: 0px;
  left: 1px;
}
.img__ynSe7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img__ynSe7 > picture > img {
  object-fit: cover;
}
.frame483 {
  width: 390px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #7f7f7f;
}
.frame483 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame483 > :global(.__wab_flex-container) > *,
.frame483 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame483 > :global(.__wab_flex-container) > picture > img,
.frame483
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__mImRi {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame3749 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3749 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3749 > :global(.__wab_flex-container) > *,
.frame3749 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3749 > :global(.__wab_flex-container) > picture > img,
.frame3749
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__unEr2 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 0, 0, 1);
  position: relative;
}
.checkBox {
  width: 500px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.checkBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.checkBox > :global(.__wab_flex-container) > *,
.checkBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkBox > :global(.__wab_flex-container) > picture > img,
.checkBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.bySigningUpYouAgreeToUnBoxingCommunitysTermsOfUseAndPrivacyPolicy {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: 500px;
  flex-shrink: 0;
}
.frame3666 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame3666 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 100px);
  width: calc(100% + 100px);
}
.frame3666 > :global(.__wab_flex-container) > *,
.frame3666 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3666 > :global(.__wab_flex-container) > picture > img,
.frame3666
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 100px;
}
.checkBox2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.checkBox2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.checkBox2 > :global(.__wab_flex-container) > *,
.checkBox2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkBox2 > :global(.__wab_flex-container) > picture > img,
.checkBox2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
  position: relative;
}
.loginButton {
  background: rgba(242, 115, 18, 1);
  filter: drop-shadow(-4px 4px 15px rgba(0, 0, 0, 0.2));
  height: 50px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
}
.loginButton > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.loginButton > :global(.__wab_flex-container) > *,
.loginButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.loginButton > :global(.__wab_flex-container) > picture > img,
.loginButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.logo {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 143px;
  left: 870px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoUbc {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
}
.logoUbc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logoUbc > :global(.__wab_flex-container) > *,
.logoUbc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoUbc > :global(.__wab_flex-container) > picture > img,
.logoUbc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame3663 {
  width: 148px;
  height: 105px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.c7 {
  position: absolute;
  top: 99.83%;
  left: 56.34%;
  width: 31.33%;
  height: 87.35%;
  transform: scale(1.0005763339196065, 0.9997927855051355)
    rotate(-135.3644205385762deg) skew(-0.6880407328992084deg, 0deg)
    translate(-0.17100000000000648px, 0.1700000000000017px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nUuc0 {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.u {
  position: absolute;
  top: 61.43%;
  left: 67.88%;
  width: 33.56%;
  height: 87.35%;
  transform: scale(0.9998739920609996, 1.0004860691875768)
    rotate(135.40519677739474deg) skew(0.7700883837722294deg, 0deg)
    translate(-0.33799999999999386px, -0.27300000000000324px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___7AHhQ {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.text__tap68 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.logo2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 50px;
  left: 1153px;
  flex-direction: row;
}
.logo2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.logo2 > :global(.__wab_flex-container) > *,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo2 > :global(.__wab_flex-container) > picture > img,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.logoUbc2 {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.c8 {
  position: absolute;
  top: 60px;
  left: 31px;
  width: 28px;
  height: 55px;
  transform: scale(1.0005763339196065, 0.9997927855051355)
    rotate(-135.3644205385762deg) skew(-0.6880407328992084deg, 0deg)
    translate(0.3019999999999996px, -0.0009999999999976694px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__st2S4 {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.u2 {
  position: absolute;
  top: 38px;
  left: 51px;
  width: 30px;
  height: 55px;
  transform: scale(0.9998739920609996, 1.0004860691875768)
    rotate(135.40519677739474deg) skew(0.7700883837722294deg, 0deg)
    translate(-0.20300000000000296px, 0.2359999999999971px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__tHyMc {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.text__fJ3P {
  display: block;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame1000004295 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 50px;
  left: 100px;
  flex-direction: column;
}
.frame1000004295 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 21px);
  height: calc(100% + 21px);
}
.frame1000004295 > :global(.__wab_flex-container) > *,
.frame1000004295 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1000004295 > :global(.__wab_flex-container) > picture > img,
.frame1000004295
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 21px;
}
.joinAThrivingCommunityOfEngineers {
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  background: none;
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: #ffffff;
  position: relative;
  width: 471px;
}
.text__lTxuM {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  background: none;
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #bab5b5;
  position: relative;
}
.img__rrXLe {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 433px;
  top: 302px;
}
.img__rrXLe > picture > img {
  object-fit: cover;
}
