.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.otpError {
  background: rgba(30, 30, 30, 1);
  width: 1440px;
  height: 1214px;
  display: block;
  overflow: hidden;
}
.img__fBHp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 11px;
  top: 6px;
}
.img__fBHp > picture > img {
  object-fit: cover;
}
.joinAThrivingCommunityOfEngineers {
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  background: none;
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: #ffffff;
  position: absolute;
  top: 69px;
  left: 100px;
  width: 471px;
}
.text__grX7U {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  background: none;
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #bab5b5;
  position: absolute;
  top: 167px;
  left: 100px;
}
.frame3664 {
  width: 400px;
  height: auto;
  display: flex;
  position: absolute;
  top: 379px;
  left: 801px;
  flex-direction: column;
}
.frame3664 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.frame3664 > :global(.__wab_flex-container) > *,
.frame3664 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3664 > :global(.__wab_flex-container) > picture > img,
.frame3664
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.checkBox {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.weHaveSentYouA4DigitOtp {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.checkBox2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.checkBox2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.checkBox2 > :global(.__wab_flex-container) > *,
.checkBox2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkBox2 > :global(.__wab_flex-container) > picture > img,
.checkBox2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__prEn5 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(211, 211, 211, 1);
  position: relative;
}
.text__i15J {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
  position: relative;
}
.frame3662 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame3662 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame3662 > :global(.__wab_flex-container) > *,
.frame3662 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3662 > :global(.__wab_flex-container) > picture > img,
.frame3662
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame3666 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.label {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(212, 212, 212, 1);
  position: relative;
}
.frame3756 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame3756 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame3756 > :global(.__wab_flex-container) > *,
.frame3756 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3756 > :global(.__wab_flex-container) > picture > img,
.frame3756
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.frame3757 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3757 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.frame3757 > :global(.__wab_flex-container) > *,
.frame3757 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3757 > :global(.__wab_flex-container) > picture > img,
.frame3757
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.frame3752 {
  width: 401px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.frame3752 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 67px);
  width: calc(100% + 67px);
}
.frame3752 > :global(.__wab_flex-container) > *,
.frame3752 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3752 > :global(.__wab_flex-container) > picture > img,
.frame3752
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 67px;
}
.img__nbAVc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__nbAVc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.img__nbAVc > :global(.__wab_flex-container) > *,
.img__nbAVc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__nbAVc > :global(.__wab_flex-container) > picture > img,
.img__nbAVc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__nbAVc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__nbAVc > picture > img {
  object-fit: cover;
}
.img__hrVz6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__hrVz6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.img__hrVz6 > :global(.__wab_flex-container) > *,
.img__hrVz6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__hrVz6 > :global(.__wab_flex-container) > picture > img,
.img__hrVz6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__hrVz6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__hrVz6 > picture > img {
  object-fit: cover;
}
.img__yoShK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__yoShK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.img__yoShK > :global(.__wab_flex-container) > *,
.img__yoShK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__yoShK > :global(.__wab_flex-container) > picture > img,
.img__yoShK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__yoShK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__yoShK > picture > img {
  object-fit: cover;
}
.img__jJWgE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__jJWgE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.img__jJWgE > :global(.__wab_flex-container) > *,
.img__jJWgE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__jJWgE > :global(.__wab_flex-container) > picture > img,
.img__jJWgE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__jJWgE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
}
.img__jJWgE > picture > img {
  object-fit: cover;
}
.passwordHideAndSee {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #595959;
  transform: translate(-0.08599999999999985px, 0.01100000000000012px);
  width: 18.187px;
  height: 15.995px;
  display: block;
  top: 4px;
  left: 3px;
}
.frame3750 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3750 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.frame3750 > :global(.__wab_flex-container) > *,
.frame3750 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3750 > :global(.__wab_flex-container) > picture > img,
.frame3750
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__mNjqO {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 0, 0, 1);
  position: relative;
}
.frame3665 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame3665 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.frame3665 > :global(.__wab_flex-container) > *,
.frame3665 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3665 > :global(.__wab_flex-container) > picture > img,
.frame3665
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.checkBox3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.checkBox3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.checkBox3 > :global(.__wab_flex-container) > *,
.checkBox3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkBox3 > :global(.__wab_flex-container) > picture > img,
.checkBox3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___9HDo {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
  position: relative;
}
.loginButton {
  background: rgba(242, 115, 18, 1);
  filter: drop-shadow(-4px 4px 15px rgba(0, 0, 0, 0.2));
  width: auto;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
}
.loginButton > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.loginButton > :global(.__wab_flex-container) > *,
.loginButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.loginButton > :global(.__wab_flex-container) > picture > img,
.loginButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.logo {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 143px;
  left: 870px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoUbc {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
}
.logoUbc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logoUbc > :global(.__wab_flex-container) > *,
.logoUbc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoUbc > :global(.__wab_flex-container) > picture > img,
.logoUbc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame3663 {
  width: 148px;
  height: 105px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.c {
  position: absolute;
  top: 99.83%;
  left: 56.34%;
  width: 31.33%;
  height: 87.35%;
  transform: scale(1.0005763339196065, 0.9997927855051355)
    rotate(-135.3644205385762deg) skew(-0.6880407328992084deg, 0deg)
    translate(-0.17100000000000648px, 0.1700000000000017px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__fDOoq {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.u {
  position: absolute;
  top: 61.43%;
  left: 67.88%;
  width: 33.56%;
  height: 87.35%;
  transform: scale(0.9998739920609996, 1.0004860691875768)
    rotate(135.40519677739474deg) skew(0.7700883837722294deg, 0deg)
    translate(-0.33799999999999386px, -0.27300000000000324px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__aTum7 {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.text__mEql {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.logo2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 50px;
  left: 1153px;
  flex-direction: row;
}
.logo2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.logo2 > :global(.__wab_flex-container) > *,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo2 > :global(.__wab_flex-container) > picture > img,
.logo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.logoUbc2 {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.c2 {
  position: absolute;
  top: 60px;
  left: 31px;
  width: 28px;
  height: 55px;
  transform: scale(1.0005763339196065, 0.9997927855051355)
    rotate(-135.3644205385762deg) skew(-0.6880407328992084deg, 0deg)
    translate(0.3019999999999996px, -0.0009999999999976694px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nykSs {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.u2 {
  position: absolute;
  top: 38px;
  left: 51px;
  width: 30px;
  height: 55px;
  transform: scale(0.9998739920609996, 1.0004860691875768)
    rotate(135.40519677739474deg) skew(0.7700883837722294deg, 0deg)
    translate(-0.20300000000000296px, 0.2359999999999971px);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rMxR4 {
  text-shadow: 0px -2px 4px rgba(82, 82, 82, 0.8), 0px 2px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(242, 115, 18, 1);
}
.text__oGa9T {
  display: block;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.img__eSee {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 422px;
  top: 326px;
}
.img__eSee > picture > img {
  object-fit: cover;
}
